section {
  text-align: center;
}
button {
  margin: 10px;
  text-transform: capitalize;
  background-color: rgb(45, 169, 241);
  border-radius: 3px;
  outline: none;
  border: none;
  font-size: 18px;
  color: aliceblue;
  padding: 5px;
}
